<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
	<targets async="true">
		<target xsi:type="RetryingWrapper" name="Retry" retryDelayMilliseconds="100" retryCount="3">
			<target xsi:type="File" name="dailylog"
					fileName="${aspnet-appbasepath}/Logs/App_${date:format=yyyyMMdd}.log"
					archiveNumbering="Sequence"
					archiveAboveSize="1073741824"
					layout="Time:${longdate} TH:${threadid} Lv:${uppercase:${level}} Url:${aspnet-request-url:IncludeQueryString=true} Pos:${logger}(${event-properties:item=_Line}) ${message} Exception:${exception:format=tostring} ExtValue:${event-properties:item=_Values}" />
		</target>
		<target xsi:type="Debugger" name="debuglog"
				layout="Time:${longdate} TH:${threadid} Lv:${uppercase:${level}} Url:${aspnet-request-url:IncludeQueryString=true} Pos:${logger}(${event-properties:item=_Line}) ${message} Exception:${exception:format=tostring} ExtValue:${event-properties:item=_Values}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="dailylog" />
		<logger name="*" minlevel="Trace" writeTo="debuglog" />
		<logger name="Microsoft.*" minLevel="Info" final="true" />
	</rules>
</nlog>