body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 56px;
    box-sizing: border-box;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;;
}
.bg-ukabis-red{
    background-color: $color-red!important;
}
.bg-ukabis-yewllow{
    background-color: $color-yellow!important;
}
.color-white *{
    color: white!important;
}



.navbar-brand img{
    width: 130px;
}

.create-file{
    width: 100%;
    margin-bottom: 20px;
    &__label{
        border-style: dashed;
        border-color: #e5e7eb;
        border-width: 4px;
        flex-direction: column;
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    &__inner{
        padding-top: 1.75rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &__svg{
        --tw-text-opacity: 1;
    color: rgba(252, 76, 105, var(--tw-text-opacity));
    width: 2.5rem;
    height: 2.5rem;
    }
    &__input{
        display: none;
    }
    &__preview{
        height: auto;
        margin: 0;
        text-align: center;
    }
}


.form-group{
    padding: 10px 0;
    .required-form{
        color: $color-red;
    }
}
.form-checkbox{
    display: inline-block;
    margin: 0 10px;
}

.foodlist-table *{
    vertical-align: middle;
}

.food-form{
    label{
        font-size: 1.1em;
    }
}





@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#loader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: $color-yellow;
    display: none;
    animation: fadeIn 1s forwards;
}

#loader.loaded {
    animation: fadeOut 1s forwards;
}

.spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
}

.cube1, .cube2 {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    }
}


.form-warning{
    color: $color-red;
}

.dropdown-item:active{
    background: $color-pink;
}

.position-relative{
    img{
        width: 20px;
        margin-left: 10px;
        vertical-align: middle;
    }
}

.food-search-btn{
    border: solid 1px ;
}