// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$color-red : #D53D25;
$color-yellow : #F7A800;
$color-pink :#f5785f;