.treenode-label-text {
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

::deep .rz-treenode .rz-treenode-content .rz-treenode-label {
    width: 100%;
}

::deep .rz-treenode .rz-treenode-content .rz-treenode-label i {
    margin: 0;
}

::deep .api-tree {
    height: calc(100% - 15.5rem);
}
